
body{
    background-image: url(./img/6766bb2c17a68a11fcb2347ebaae0d55.jpg);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
    .container{
width: 800px;
min-height: 800px;
border: 4px solid black;
margin: 0 auto;
background: gray;

}
.header{
    display: flex;
}
    }
    
